<ion-header>
  <ion-navbar>
    <ion-card-header>GoMicro</ion-card-header>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment>
    <ion-segment-button>
      Powered by Phonelabs
    </ion-segment-button>
  </ion-segment>
  <span></span>

  <button ion-button block outline positve round color="dark"(click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>&nbsp;Take Photo
    </button>

    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let photo of photos; let id = index">
          <ion-card class="block">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
            <img [src]="photo" *ngIf="photo" />
          </ion-card>
  </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
